.advantages {
  background: #fff5f6;
}

.advantages-content {
  padding-top: 40px;
  padding-bottom: 80px;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 84px;
  }
  @include desktop {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.advantages-content__list {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
}

.advantages-content__item {
  padding-right: 50px;
  & + & {
    margin-top: 32px;
  }
  @include tablet {
    padding-right: 0;
    max-width: 180px;
    & + & {
      margin-top: 0;
      margin-left: 4px;
    }
  }
  @include desktop {
    min-width: 288px;
    & + & {
      margin-left: 142px;
    }
  }
}

.advantages-img {
  margin-bottom: 16px;
  @include tablet {
    margin-bottom: 36px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.first-icon {
  width: 33px;
}

.second-icon {
  width: 50px;
}

.third-icon {
  width: 44px;
}

.advantages-content__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 15px;
  @include tablet {
    font-size: 48px;
    line-height: 1.14;
  }
  @include desktop {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-content__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  @include tablet {
    font-size: 14px;
    line-height: 1.74;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.76;
  }
}
